package actions

import (
  {{ if .opts.AsWeb -}}
  "github.com/gobuffalo/packr"
  {{ end -}}
  "github.com/gobuffalo/buffalo/render"
)

var r *render.Engine
{{ if .opts.AsWeb -}}
var assetsBox = packr.New("assets-box", "../public")
var templatesBox = packr.New("action-templates", "../templates")
{{ end -}}

func init() {
  r = render.New(render.Options{
    {{ if .opts.AsAPI -}}
      DefaultContentType: "application/json",
    {{ end -}}
    {{ if .opts.AsWeb -}}
      // HTML layout to be used for all HTML requests:
      HTMLLayout:     "application.html",

      // Box containing all of the templates:
      TemplatesBox: *templatesBox,
      AssetsBox:    *assetsBox,

      // Add template helpers here:
      Helpers: render.Helpers{
      // uncomment for non-Bootstrap form helpers:
      // "form":     plush.FormHelper,
      // "form_for": plush.FormForHelper,
      },
    {{ end -}}
  })
}
